@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/* Global styling */
body {
    /* font-family: 'Open Sans', serif; */
    font-family: 'Poppins', sans-serif;
    color: #212529;
    padding-top: 60px;
}
.btn-default-grad {
    background-image: linear-gradient(to right, #126aaf, #07992c);
    border-radius: 10px;
    color: #fff;
    border: 0;
}
.btn-default-grad:hover {
    color: #fff;
}
.text-success {
    color: #07992c;
}
.text-light {
    color: #fff;
}
.section-title {
    font-size: 28px;
    color: #212529;
    font-weight: bold;
    padding: 60px 0;

}
.bg-gray {
    background-color: #e0e0e0;
}
.sky-grad {
    background-image: linear-gradient(to right, #ddf6e5 , #bce2f8);
}
.push-right {
    margin-right: -50px;
}
.btn-green {
    border-radius: 10px;
    background: #b7e3c7;
    color: #fff;
    font-weight: 600;
}
.btn-green:hover,
.btn-green.active{
    color: #fff;
    background: #32ae5e;
}
.btn-blue {
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    background: #abcbe3;
}
.btn-blue:hover,
.btn-blue.active{
    background: #0f6aaf;
    color: #fff;
}
.text-green{
    color: #5a946a;
}
/* Global styling end */

/* Nav */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.99);
    font-weight: bold;
    transition: .2s;
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #07992c;
    border-radius: 10px;
    color: #fff;
}
/* Nav end */

/* Dark-bg-section */
.dark-bg-section {
    background-image: linear-gradient(#000000 , #215132);
}
/* Dark-bg-section end */

/* Hero section */
.hero-section .display__hero {
    position: absolute;
    width: 250px;
    left: 37%;
    bottom: 0;
}
.hero-section__lead-text-section {
    width: 160%;
}
.hero-section__lead-text-section h1{
    font-size: 2.2rem;
}
.hero-section__lead-text-section p{
    font-size: 1.1rem;
}
/* Hero section end */

/* Deeper insights */
.deeper-insights {
    margin-top: 120px;
}
.deeper-insights__col  {
    background-color: #bcd5c5;
    border-radius: 20px;
    color: #000;
    min-height: 360px;
    margin: 10px;
}
.deeper-insights__col:hover {
    text-decoration: none;
    color: #000;
}
.deeper-insights__col .pretend-link {
    color: #5a946a;
}
.deeper-insights__col img {
    transition: .1s;
}
.deeper-insights__col .hidden-hover {
    visibility: visible;
}
.deeper-insights__col .visible-hover {
    visibility: hidden;
    position: absolute;
}
.deeper-insights__col:hover .hidden-hover {
    visibility: hidden;
}
.deeper-insights__col:hover .visible-hover {
    visibility: visible;
}
.deeper-insights__col .deeper-insights__col-lead p {
    font-size: 1rem;
}
/* Deeper insights end */
.state-of-art__inner{
    background-image: url(../images/gray_bg.png);
    background-position: 0 33%;
}
.gain-insights {
    padding-top: 120px;
}
.picture-of-skills {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section .txt-content{
    padding: 50px 100px;
    border-radius: 5px;
    width: 470px;
    max-height: 200px;
}
.section .imgs-box {
    height: 240px;
    width: 400px;
}
.section .imgs-box {
    margin-left: -60px;
}
.section .imgs-box img{
    position: absolute;
}
.section .imgs-box img.build_1{
    right: 42px;
}
.section .imgs-box img.build_2{
    bottom: 20px;
    left: 120px;
}
.find-carrer {
    padding-bottom: 70px;
}
.find-carrer .btn{
    background-color: #d6d6d6;
    border-radius: 10px;
    border: 0;
    margin-top: 25px;
    width: auto;
    padding: 10px 20px;
}
.find-carrer .btn.active,
.find-carrer .btn:hover{
    background-color: #b9b8b8
}
.how-it-work {
    padding-bottom: 120px;
}
.how-it-work .text-box {
    width: 200px;
}
.how-it-work .anylatic_img{
    width: 84%;
}
.companies-and-feedback {
    background-color: #f4f4f4;
    background-image: url(../images/gray_bg_2.png);
    background-size: cover;
    background-position: 20%;
    padding-bottom: 140px;
}
.companies-and-feedback .feedbacks{
    margin-top: 80px;
}
.companies-and-feedback .swiper-container {
    width: 100%;
    height: 100%;
  }
  .companies-and-feedback .reviews img{
      width: 25px;
  }

  .companies-and-feedback .feedback-box .feedback-text{
      font-weight: 600;
  }

.companies-and-feedback .feedback-box .client-info{
    color: #989898;
}
.pricing {
    padding-bottom: 60px;
}
.pricing .offer-badge img{
    max-width: 374px;
}
.pricing .pricing__price-card {
    padding: 50px 40px 20px;
    color: #fff;
    height: 665px;
    border-radius: 5px;
    background: rgb(36,76,113);
background: linear-gradient(0deg, rgba(36,76,113,1) 0%, rgba(0,0,0,1) 0%, rgba(36,76,113,1) 100%);
}
.pricing .pricing__price-card .feature-text {
    margin-top: -4px;
    margin-bottom: 14px;
    padding-left: 26px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
}
.pricing .pricing__price-card i{
    color: #abcbe3;
}
.pricing .pricing__price-card .price{
    font-size: 52px;
    margin: 0;
}
.pricing .pricing__price-card .badge{
    position: absolute;
    top: -25px;
    right: -25px;
}
.pricing .pricing__price-card .price.old-price {
    font-weight: 400;
}
.modal-deeper-insight .modal-header{
    border: 0;
    padding: .2rem .2rem;
}
.modal-deeper-insight .modal-body {
    padding-top: 0;
}
.modal-deeper-insight .modal-content {
    background-color: #e8f4ed;
}
.assessments-list {
    display: flex;
    list-style-type: none;
    gap: 2%;
    margin-top: 40px;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.assessments-list li {
    width: 19%;
}
.assessments-list li h5 {
    font-size: 18px;
    font-weight: bold;
}
.assessments-list li p {
    font-weight: normal;
    font-size: 14px;
}
.assessments-list li .image {
    height: 70px;
}
.swiper-button-next,
.swiper-button-prev  {
    color: #a09e9e;
}
#anylatic_img2 {
    display: none;
}
.text-boxes {
    display: flex;
}
.ourinsights-capabalities {
    background-image: linear-gradient(#9fb8d6 , #f7f9fc);
    padding-bottom: 80px;
}
.ourinsights-capabalities .paragraph{
    max-width: 700px;
    text-align: center;
}
.ourinsights-capabalities .capabalities__capabality {
    background: #e9dda4;
    width: 600px;
    padding: 12px 20px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.ourinsights-capabalities .modal-header {
    background-color: #e9dda4;
}
.ourinsights-capabalities .text-title {
    font-size: 18px;
    font-weight: bold;
}

.mountain_art .imgs {
    height: 500px;
    position: relative;
}
.mountain_art .imgs .img{
    position: absolute;
}
.mountain_art .imgs .sun{
    right: 350px;
    top: -80px;
}
.mountain_art .imgs .cloud{
    top: -80px;
    right: 0px;
}
.mountain_art .imgs .mountain{
    bottom: 0;
    height: 400px;
    overflow: hidden;
}





footer {
    background-image: url(../images/footer_bg.jpg);
    background-size: cover;
    padding-bottom: 80px;
}
footer .faq_and_contact {
    padding-top: 100px;
}
footer .faq_and_contact .faq_img{
    text-align: center;
    width: 80%;
}
footer .btn-green{
    background: #32ae5e;
}
footer .accordion .btn-link{
    color: #000 !important;
}
footer .faq_and_contact input,
footer .faq_and_contact textarea{
    display: block;
    width: 100%;
    padding: 0.6rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 18px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
footer .faq_and_contact textarea {
    height: 100px;
}