@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .8rem;
        padding-left: .8rem;
    }
    .modal-lg, .modal-xl {
        max-width: 90%;
    }
}
@media (min-width: 1600px) {
    .modal-lg, .modal-xl {
        max-width: 1300px;
    }
}
@media (max-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 97% !important;
    }
    .section-title {
        font-size: 20px;
    }
    .hero-section__lead-text-section{
        padding: 100px 0 0;
        width: 100%;
        height: 580px;
    }
    .deeper-insights {
        margin-top: 50px;
    }
    .mobile-hidden {
        display: none;
    }
    .hero-section .display__hero {
        width: 190px;
    }
    .hero-section .display__hero {
        left: 50%;
        transform: translateX(-50%);
    }
    .section .imgs-box{
        margin-top: 20px;
    }
    .mountain_art .imgs .mountain{
        height: auto;
    }
    .mountain_art .imgs .sun{
        right: 100px;
    }
    .mountain_art .imgs .sun img{
        width: 400px;
    }
}
@media (max-width: 776px){
    .how-it-work .text-box p{
        font-size: 13px;
    }
    .how-it-work .anylatic_img{
        width: 100% !important;
    }
    .companies-and-feedback .brand-logo img{
        width: 100px;
    }
    .assessments-list {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .assessments-list li {
        width: 200px;
    }
    .ourinsights-capabalities .capabalities__capabality{
        width: 100%;
        font-size: 25px;
        padding: 8px 12px;
    }
    .mountain_art .imgs{
        height: 400px;
    }
}
@media (max-width: 576px){
    .picture-of-skills {
        padding-top: 30px;
    }
    .pricing .pricing__price-card {
        height: auto;
    }
    .pricing .pricing__price-card .features {
        margin-bottom: 30px;
    }
    .find-carrer {
        padding-bottom: 10px;
    }
    .section-title {
        font-size: 18px;
    }
    .hero-section__lead-text-section h1{
        font-size: 1.8rem;
    }
    .hero-section__lead-text-section p {
        font-size: 1rem;
    }
    .navbar-brand img{
        width: 140px;
        height: auto;
    }
    .gain-insights__inner,
    .picture-of-skills__inner {
        padding-left: 20px !important;
    }
    .find-carrer .btn{
        font-size: 11px;
    }
    .how-it-work .btn{
        font-size: 13px;
    }
    .section .imgs-box{
        margin-left: 0;
    }
    .section .txt-content{
        padding: 40px 60px;
        width: 100%;
        height: auto;
        max-height: 300px;
    }
    .how-it-work .text-box{
        width: 100%;
    }
    .companies-and-feedback .feedback-box .feedback-text{
        font-size: 15px;
    }
    .pricing .offer-badge img{
        max-width: 100%;
    }
    .section .imgs-box img.build_2{
        bottom: 45px;
        right: 0;
        width: 172px;
    }
    .section .imgs-box img.build_1 {
        right: 0;
        width: 172px;
    }
    .pricing .pricing__price-card .badge {
        position: absolute;
        top: -28px;
        right: -8px;
    }
    .price-card__title {
        font-size: 25px;
    }
    .pricing .pricing__price-card .price{
        font-size: 45px;
    }
    .ourinsights-capabalities .capabalities__capabality{
        font-size: 22px;
    }
    .mountain_art .imgs {
        height: 250px;
    }
    .mountain_art .imgs .sun{
        right: 0px;
    }
    .mountain_art .imgs .sun img{
        width: 250px;
    }
}
